<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
            <div class="wrapper fadeInDown">
                <div id="formContent">
                    <div class="fadeIn first">
                        <img src="https://cookbook-kel7.s3.ap-southeast-1.amazonaws.com/icon/WhatsApp_Image_2021-10-05_at_20.24.42-removebg-preview.png" id="icon" alt="User Icon" />
                    </div>
                    <!-- <div class="container container-register"> -->
                        <% if (errorMessage) { %>
                            <div class="user-message user-message--error">
                                <%= errorMessage %>
                            </div>
                            <% } %>
                                <form action='/register' method='POST' autocomplete="off">
                                    <div class="row row-space name">
                                        <div class="form-group col-md-6 form-align-center">
                                            <input 
                                            placeholder="first name"
                                            type='text' 
                                            name="fname" 
                                            autocomplete="off"
                                            class='form-register-login' 
                                            value='<%= inputPage.fname %>'
                                            >
                                        </div>
                                        <div class="form-group col-md-6 form-align-center">
                                            <input 
                                            type='text' 
                                            name="lname" 
                                            autocomplete="off"
                                            placeholder="last name"
                                            class='form-register-login'
                                            value='<%= inputPage.fname %>'>
                                        </div>
                                    </div>
                                    <div class="form-group email">
                                        <input type="text" 
                                        class="form-register-login <%= validErrors.find(e=>e.param==='email')?'invalid': '' %>" 
                                        name="email" 
                                        id='email' autocomplete="off" 
                                        value='<%= inputPage.email %>' 
                                        placeholder="*****@****.com">
                                    </div>
                
                                            <input type="password" name='password' autocomplete="off"
                                                placeholder="password" value='<%= inputPage.password %>'>
                                        
                                            <input type="password" name='ConfirmPassword' autocomplete="off"
                                                placeholder="Confirm Password" value='<%= inputPage.confirmPassword %>'>
                                        
                                    
                                    <button type="submit" class="btn btn-primary btn-register">Register</button>
                                </form>
                    
                    </div>
                </div>
            </div>
            
        
        
<%- include('../includes/end.ejs') %>
