<%- include ('includes/head.ejs') %> 
<!-- <link rel="stylesheet" href="/css/home_style.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    
        <%- include ('component/navbar.ejs') %>
        <div class="body-home">
            <div class="box-info">
                <div class="info-header">
                    <h1>Temukan Resep Andalanmu di CookBook!</h1>
                    <p>CookBook merupakan komunitas pecinta masakan kami yang dimana setiap anggota dapat berbagi resep yang
                        menarik
                        dan lezat</p>
                    <p>Tidak hanya berbagi resep, kami juga melayani pengiriman bahan makanan dengan praktis dan cepat untuk
                        setiap
                        resep yang ingin kamu buat</p>
                    <p>Tunggu apa lagi? Bergabunglah dengan kami!</p>
                    <% if (user==null) { %>
                    <button type="button">
                        <a href="/register">Bergabung</a>
                    </button>
                    <% } %>
                    
                </div>
            </div>
        </div>
        <section>
            <div class="resep">
                <h2>Resep</h2>
                <div class="resep-box">
                    <% if (reseps.length>0) { %>
                        <% for (resep of Object.keys(reseps)){ %>
                            <% if (resep>2) { %>
                                <% break %> 
                            <% } %>
                            <a href='/resep/<%= reseps[resep]._id %>'>
                                <img class='ImageEvent' src="/<%=reseps[resep].ImageResep%>" alt="">
                            </a>
                            <% } %>  
                    <% } %>
                    </div>
                </div>
            </div>
            <div class="acara">
                <h2>Acara</h2>
                <div class="acara-box">
                    <% if (events.length>0) { %>
                                <% for( event of Object.keys(events)) {%> 
                                    <% if(event>2){ %>
                                        <% break %>
                                    <% } %>
                                    <a href='/event/<%=events[event]._id%>'>
                                        <img class='ImageEvent' src="/<%=events[event].ImageEvent%>" alt="">
                                    </a>
                                     
                                    <% } %> 
                            <% } %>

                </div>
            
                 </div>
            
        </section>
<%- include ('includes/footer.ejs')  %> 
    
    
<%- include('includes/end.ejs') %>