<%- include ('includes/head.ejs') %> 
<!-- <link rel="stylesheet" href="/css/home_style.css"> -->
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    
        <%- include ('component/navbar.ejs') %>
        <div class="body-home">
            <div class="box-info">
                <div class="info-header">
                    <h1>Temukan Resep Andalanmu di CookBook!</h1>
                    <p>CookBook merupakan komunitas pecinta masakan kami yang dimana setiap anggota dapat berbagi resep yang
                        menarik
                        dan lezat</p>
                    <p>Tidak hanya berbagi resep, kami juga melayani pengiriman bahan makanan dengan praktis dan cepat untuk
                        setiap
                        resep yang ingin kamu buat</p>
                    <p>Tunggu apa lagi? Bergabunglah dengan kami!</p>
                    <button type="button">
                        <a href="/register">Bergabung</a>
                    </button>
                </div>
            </div>
        </div>
        <section>

       
            <div class="resep">
                <h2>Resep</h2>
                <div class="resep-box">
                    <% if (reseps.length>0) { %>
                        <% for (resep of Object.keys(reseps)){ %>
                            <% if (resep>4) { %>
                                <% break %> 
                            <% } %>
                            <a href=''>
                                <img class='ImageEvent' src="/<%=reseps[resep].ImageResep%>" alt="">
                            </a>
                            <% } %>  
                    <% } %>
                    <!-- <div class="rbox1">
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                    <div class="rbox2">
                        <a href=""></a>
                        <a href=""></a> -->
                    </div>
                </div>
            </div>
            <div class="acara">
                <h2>Acara</h2>
                <div class="acara-box">
                    <% if (events.length>0) { %>
                        <!-- <!% events.forEach(event => { %> 
                            <!% console.log(events[1]) %> 
                            <a href=''>
                            <img class='ImageEvent' src="/<!%=event.ImageEvent%>" alt="">
                            </a>
                            <!% if (events[3]) { %>
                                <!% break %>  -->
                                <% for( event of Object.keys(events)) {%> 
                                    <% if(event>4){ %>
                                        <% break %>
                                    <% } %>
                                    <a href=''>
                                        <img class='ImageEvent' src="/<%=events[event].ImageEvent%>" alt="">
                                    </a>
                                     
                                    <% } %> 
                            <% } %>
                        <!-- <!% }) %> 
                        <!% } %> -->
                    <!-- <div class="box1">
                        
                        <a href=""></a>
                        <a href=""></a>
                    </div>
                    <div class="box2">
                        <a href=""></a>
                        <a href=""></a>
                    </div> -->
                </div>
            
                 </div>
            
        </section>
            <footer>
                <div class="link-website">
                    <h2>Navigasi Website</h2>
                    <a>Resep</a>
                    <a>Acara</a>
                    <a>Tentang Kami</a>
                </div>
                <div class="info-website">
                    <h2>Kontak Kami</h2>
                    <p>Apabila terdapat kritik dan saran atau pertanyaan lebih lanjut, hubungi kami melalui:</p>
                    <p><i class="fab fa-whatsapp"></i> : 08xx-xxxx-xxxx</p>
                    <a><i class="fab fa-twitter"></i> : @namasupermarket</a>
                    <a><i class="fab fa-instagram"></i> : @namasupermarket</a>
                    <a></a>
                </div>
            </footer>
    
    
<%- include('includes/head.ejs') %>