<%- include ('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <script src="/js/formUpdateProfil.js"></script>

        <%- include ('component/navbar.ejs') %>
        <div class="body-profile">
            <div class="profil">
                    <form enctype='multipart/form-data' action="/update-profil" id='profil' method='POST'>
                        <div class="header">
                            <img src="/image/conscious-design-IMMHJRp4dcM-unsplash.jpg" class="fheader" />
                            <div class="isiheader">
                            <img id='profile-picture' class='fprofil' src="<%=user.picture%>"
                                alt="user-picture">
                                <input type="file" style='display: none;' name='profil-image' id="input-gambar">
                                <h3><%= user.name.fname %> <%= user.name.lname %> </h3>
                                <div class="capai">
                                <div class="">
                                    <h5>Resep</h5>
                                    <h1><%= user.resepId.length %></h1>
                                </div>
                                
                                <% if (user.admin==true) { %>
                                    <div class="">
                                        <h5>Acara</h5>
                                        <h1>
                                            <%= user.eventId.length %>
                                        </h1>
                                    </div>
                                <% } %>
                                </div>
                            </div>
                        </div>
                   
                        <div class="cred">
                            <label 'for="">
                                Nama :
                                <tb class='nama'>
                                    <input type="text" class='form-control' name="fname" value='<%= user.name.fname %>' autocomplete="off">
                                    <input type="text" class='form-control' autocomplete="off" name="lname" value='<%= user.name.lname %>'></label><br>
                                
                            </label></tb<br>
                                
                               
                            
                            <% if (user.googleId=="" ) { %>
                            <label for="">Email : 
                                <input class='form-control' type="email" autocomplete="off" name="email" value='<%= user.email %>'>
                            </label><br>
                            <% } %>
                            </div>
                            <button id='save' class='button'>
                                save
                            </button>
                            </form>
                            <button id='update' class='button'>
                                update
                            </button>
                            <div class="button-inline">
                                <button id='resep-button' class='btn btn-lg d-inline btn-inline'>Resep</button>
                                
                                <% if(user.admin==true){ %>
                                    <button id='event-button' class='btn btn-lg d-inline btn-inline'>Event</button>
                                    <button id='bahan-button' class='btn btn-lg d-inline btn-inline'>Product</button>
                                <% } %>
                                
                            </div>
                            <div id="resep">
                                <% if (reseps.length>0) { %>
                                    <% reseps.forEach(resep=>{ %>
                                        <% %>
                                            <div class="box">
                            
                                                <p>
                                                    nama resep: <%= resep.namaResep %>
                                                </p>
                                                <div class="deskripsi">
                                                    <p>deskripsi: </p>
                                                    <p>
                                                        <%= resep.deskripsi.substring(0,30) %>
                                                    </p>
                                                    <!-- <!%- resep.html.replace(/\n/g,'<br />')%> -->
                                                </div>
                            
                                                <p>tanggal dibuat : <%= resep.createByDate.toLocaleDateString() %>
                                                </p>
                                                <p>selection Option: <%= resep.selectionOption %>
                                                </p>
                                                <a href="/edit-resep/<%=resep._id %>?edit=true">edit resep</a>
                                                <!-- <input type="hidden" value="<!%= event._id %>" name="eventId"> -->
                            
                                                <form action="/delete-resep/<%=resep._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                            
                                            <%}) %>
                                                <% } %>
                            </div>
                            <div id="event">
                                <% if (events.length>0) { %>
                                    <% events.forEach(event=>{ %>
                                        <% %>
                                            <div class="box">
                            
                                                <p>
                                                    nama Acara:<%= event.nameEvent %>
                                                </p>
                            
                                                <p>tempat : <%= event.tempat %>
                                                </p>
                            
                                                <div class="deskripsi">
                                                    <p>deskripsi: </p>
                                                    <%- event.html.replace(/\n/g,'<br />')%>
                                                </div>
                            
                                                <p>tanggal dibuat : <%= event.createByDate.toLocaleDateString() %>
                                                </p>
                                                <p>acara diadakan: <%= event.Ondate.toLocaleDateString() %>
                                                </p>
                                                <a href="/edit-event/<%=event._id %>?edit=true">edit event</a>
                                                <input type="hidden" value="<%= event._id %>" name="eventId">
                            
                                                <form action="/delete-event/<%=event._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                            
                                            <%}) %>
                                                <% } %>
                            </div>
                            <div id="bahan">
                                <% if (bahans.length>0) { %>
                                    <% bahans.forEach(bahan=>{ %>
                                        <% %>
                                            <div class="box">
                            
                                                <p>
                                                    nama Bahan: <%= bahan.namaBahan %>
                                                </p>
                                                <div class="deskripsi">
                                                    <p>deskripsi: <%= bahan.Deskripsi %>
                                                    </p>
                            
                                                </div>
                                                <p>Harga : <%= bahan.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                                                </p>
                                                <a href="/edit-bahan/<%=bahan._id %>?edit=true">edit bahan</a>
                                                <input type="hidden" value="<%= bahan._id %>" name="bahanId">
                            
                                                <form action="/delete-bahan/<%=bahan._id %>?_method=DELETE" method="POST" class="d-inline">
                                                    <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                            
                                            <%}) %>
                                                <% } %>
                            </div>
                </div>
                        
                    
                
            </div>
          
        
    <%- include ('includes/footer.ejs') %> 
    <%- include('includes/end.ejs') %>

