<%- include ('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
    <script src="/js/formUpdateProfil.js"></script>

        <%- include ('component/navbar.ejs') %>
        <div class="body-profile">
            <div class="row">
                <div class="col-4">
                    <div class="profil">
                    <form  enctype='multipart/form-data' action="/update-profil" id='profil' method='POST'>
                        <%if(user.picture!="" && user.picture!=null ){ %>
                            <img id='profile-picture' class='d-flex justify-content-center profile-picture' src="<%=user.picture%>" alt="user-picture">
                            <!-- <i class="fa fa-picture-o fa-sm" aria-hidden="true"></i> -->
                            <% } else if(user.picture==="" ) { %>
                                <div class="d-flex justify-content-center">
                                    <i id='profile-picture' class="fas fa-user-circle profile-picture fa-5x">
                                    </i>
                                </div>
                                
                                <!-- <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i> -->
                        <% } %>
                        <div class="informasi-user">
                            <p>
                                Role:
                                <% if (user.admin==true) { %>
                                    Admin
                                <% } else { %>
                                    User
                                <% } %>
                            </p>
                            <div class="row">
                                <div class="col-sm">
                                    <h5>
                                        Resep: <%= user.resepId.length %>
                                    </h5>
                                    
                                </div>
                                
                            <% if(user.admin==true){ %>
                                <div class="col-sm">
                                <h5>Event :<%= user.eventId.length %></h5>
                                </div>
                                <!-- <div class="col-sm">
                                    <h5>Product : </h5>
                                </div> -->
                                <% } %>  
                               
                                
                            </div>
                            
                                <input type="file" style='display: none;' name='profil-image' id="input-gambar">
                            
                               
                           
                            
                            <label for="fname">nama depan :
                                <input type="text" class='form-control' name="fname" value='<%= user.name.fname %>' autocomplete="off">
                            </label><br>
                            <label for="">nama belakang :
                                <input type="text" class='form-control' autocomplete="off" name="lname" value='<%= user.name.lname %>'></label><br>
                            <% if (user.googleId==null|| user.googleId=='' ) { %>
                                <label for="">Email : </label><br>
                                <input class='form-control' type="email" autocomplete="off" name="email" value='<%= user.email %>'>
                                <% } %>
                            
                            
                                    <button id='save' class='btn btn-danger button'>
                                        save
                                    </button>
                            
                                    
                        </div>
                        
                        
                    </form>
                    <button id='update' class='btn btn-danger button'>
                        update
                    </button>
                    </div>
                </div>
                    <div class="col-8">
                        <button id='resep-button' class='btn btn-lg btn-expanded'>Resep</button>
                        <button id='event-button' class='btn btn-lg btn-expanded'>Event</button>
                        <% if(user.admin==true){ %> 
                        <button id='bahan-button' class='btn btn-lg btn-expanded'>Product</button>
                        <% } %> 
                        <div id="resep">
                            <% if (reseps.length>0) { %>
                                <% reseps.forEach(resep=>{ %>
                                    <% %>
                                        <div class="box">
                            
                                            <p>
                                                nama resep: <%= resep.namaResep %>
                                            </p>
                                            <div class="deskripsi">
                                                <p>deskripsi: </p>
                                                <p>
                                                    <%= resep.deskripsi.substring(0,30) %>
                                                </p>
                                                <!-- <!%- resep.html.replace(/\n/g,'<br />')%> -->
                                            </div>
                            
                                            <p>tanggal dibuat : <%= resep.createByDate.toLocaleDateString() %>
                                            </p>
                                            <p>selection Option: <%= resep.selectionOption %>
                                            </p>
                                            <a href="/edit-resep/<%=resep._id %>?edit=true">edit resep</a>
                                            <!-- <input type="hidden" value="<!%= event._id %>" name="eventId"> -->
                            
                                            <form action="/delete-resep/<%=resep._id %>?_method=DELETE" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                                </form>
                                            </div>
                            
                                        <%}) %>
                                            <% } %>
                        </div>
                        <div id="event">
                            <% if (events.length>0) { %>
                                <% events.forEach(event=>{ %>
                                    <% %>
                                        <div class="box">
                            
                                            <p>
                                                nama Acara:<%= event.nameEvent %>
                                            </p>
                            
                                            <p>tempat : <%= event.tempat %>
                                            </p>
                            
                                            <div class="deskripsi">
                                                <p>deskripsi: </p>
                                                <%- event.html.replace(/\n/g,'<br />')%>
                                            </div>
                            
                                            <p>tanggal dibuat : <%= event.createByDate.toLocaleDateString() %>
                                            </p>
                                            <p>acara diadakan: <%= event.Ondate.toLocaleDateString() %>
                                            </p>
                                            <a href="/edit-event/<%=event._id %>?edit=true">edit event</a>
                                            <input type="hidden" value="<%= event._id %>" name="eventId">
                            
                                            <form action="/delete-event/<%=event._id %>?_method=DELETE" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                            </div>
                            
                                        <%}) %>
                                            <% } %>
                        </div>
                        <div id="bahan">
                            <% if (bahans.length>0) { %>
                                <% bahans.forEach(bahan=>{ %>
                                    <% %>
                                        <div class="box">
                            
                                            <p>
                                                nama Bahan: <%= bahan.namaBahan %>
                                            </p>
                                            <div class="deskripsi">
                                                <p>deskripsi: <%= bahan.Deskripsi %> </p>
                                                
                                            </div>
                                            <p>Harga : <%= bahan.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %>
                                            </p>
                                            <a href="/edit-bahan/<%=bahan._id %>?edit=true">edit bahan</a>
                                            <input type="hidden" value="<%= bahan._id %>" name="bahanId">
                            
                                            <form action="/delete-bahan/<%=bahan._id %>?_method=DELETE" method="POST" class="d-inline">
                                                <button type="submit" class="btn btn-danger">Delete</button>
                                            </form>
                                        </div>
                            
                                        <%}) %>
                                            <% } %>
                        </div>
                    </div>
                </div>
            </div>
        </div>
            
    <%- include('includes/end.ejs') %>

