<%- include ('includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('component/navbar.ejs') %>
        <div class="body-profile">
            <div class="row>
                <div class="col-4">
                    <div class="profil">
                    <form action="/update-profil" id='profil' method='POST'>
                        <%if(user.picture!="" && user.picture!=null ){ %>
                            <img id='profile-picture' class='profile-picture' src="<%=user.picture%>" alt="user-picture">
                            <!-- <i class="fa fa-picture-o fa-sm" aria-hidden="true"></i> -->
                            <% } else if(user.picture==="" ) { %>
                                <i id='profile-picture'class="fas fa-user-circle profile-picture fa-9x">
                                </i>
                                <!-- <i class="fa fa-picture-o fa-lg" aria-hidden="true"></i> -->
                        <% } %>
                        <div class="informasi-user">
                            <p>
                                Role:
                                <% if (user.admin==true) { %>
                                    Admin
                                <% } else { %>
                                    User
                                <% } %>
                            </p>
                            <div class="row">
                                <div class="col-sm">
                                    <h5>
                                        Resep: <%= user.resep.resepId.length %>
                                    </h5>
                                    
                                </div>
                                <div class="col-sm">
                                    <% if(user.admin==true){ %>
                                        <h5>Event :<%= user.event.eventId.length %></h5>
                                    <% } %>  
                                    
                                </div>
                            </div>
                        </div>
                        
                        <input type="file"  style='display: none;' id="input-gambar">

                        <label for="">nama depan : <input type="text" class='form-control' name="fname"  value='<%= user.name.fname %>'></label><br>
                        <label for="">nama belakang : <input type="text" class='form-control'  name="lname" value='<%= user.name.lname %>'></label><br>
                        <% if (user.googleId==null) { %>
                        <label for="">Email : </label><br>
                        <input class='form-control'type="email"  name="email" value='<%= user.email %>'>
                        <% } %>
                        
                        
                        <button id='save' class='btn btn-danger button'>
                            save
                        </button>
                    </form>
                        <button id='update' class='btn btn-danger button'>
                            update
                        </button>
                       
                    </div>
                </div>
                <div class="col-8">
                </div>
            </div>
        </div>
            
            <script src="/js/formUpdateProfil.js"></script>           
    <%- include('includes/end.ejs') %>

            
           