<div class="body-comment">
    
    <div class="comment-list">
        <h1>Daftar Komentar : </h1>
        <div class="list">
            <% comments.forEach(comment=> { %>
    
                <div class="komentator">
                    <div class="row comment">
                        <div class="col-2 foto">
                            <img  class='img-comment' src="<%= comment.gambar %> " alt="">
                            <!-- <!% if (isAuthenticated) { %>
                            <!% if (user.picture!="" && user.picture!=null) { %>
                                <img src="<!%=user.picture%>" class='img-comment' alt="gambar-profil">
                                <!% } %>
                            
                            <!% } else { %>
                                <i class="fas fa-user fa-7x img-comment"></i>
                             <!% } %> -->
                            
                        </div>
                        <div class="col-10 deskripsi">
                            <p class='nama'>
                                <%= comment.name.fname %>
                                <%= comment.name.lname %>
                            </p>
                            <div class="konten">
                                <%- comment.html.replace(/\n/g,'<br />') %>
                            </div>
                                
                               
                            
                            <% if (isAuthenticated) { %>
                            <% if (user.admin==true) { %>
                                <form action="/delete-comment/<%=comment._id %>?_method=DELETE" method="POST" class='red-button'>
                                    <button type="submit" class="btn btn-danger btn-delete">Delete</button>
                                </form>
                                <% } %>
                            <% } %>
                            
                            
                        </div>
                    </div>
    
    
    
                </div>
                <% }) %>
        </div>
    </div>
    
    <% if(isAuthenticated){ %>
        <div class="komentar"> 
            <% if (errorMessage) { %>
                <div class="user-message user-message--error">
                    <%= errorMessage %>
                </div>
                <% } %>
            <form action="/comment/<% if (modeEventorResep==true) { %>event/<%= event._id %> <% } else { %>resep/<%= resep._id %> <% } %>"
                method="POST" autocomplete="off">
                <h5>Komentarlah di bawah sini : </h5>
                <textarea name="Komentar" class="form-control Komentar <%= validErrors.find(e=>e.param==='Komentar')?'invalid': '' %>" row='4' cols='4' placeholder="Komentar"></textarea>
    
                <button type="submit" class="btn btn-dark mt-5 btn-komen">Comment</button>
            </form>
        </div>
        <% } %>
</div>

