<div class="body-like">
    <% if(!isAuthenticated){ %>
        <form action="/like/resep/<%=resep._id %>" id='likeOrdislike' method="POST" class='red-button'>
            <button type="submit" class="btn btn-primary d-inline">
                <i class='fas fa-thumbs-up'></i>
                like</button>
            <%= resep.like.length %> orang menyukai posting ini
        </form>
    
    <% } else { %>
        <% if (likes.length>0) { %>
            <% for (like of Object.keys(likes)){ %>
                <% if (likes[like].userId.toString()===user._id.toString()) { %>
                    <form action="/dislike/resep/<%=resep._id %>/<%= likes[like]._id %>" id='likeOrdislike' method="POST" class='red-button'>
                        <button type="submit" class="btn btn-info">
                            <i class='fas fa-thumbs-down'></i>
                            Dislike</button>
                        <%= resep.like.length %> orang menyukai posting ini
                    </form>
                <% break %> 
                
                <% } else if(likes[likes.length-1].userId.toString()!==user._id.toString()) {%>
                    <form action="/like/resep/<%=resep._id %>" id='likeOrdislike' method="POST" class='red-button'>
                
                        <button type="submit" class="btn btn-primary d-inline">
                            <i class='fas fa-thumbs-up'></i>
                            like</button>
                        <%= resep.like.length %> orang menyukai posting ini
                    </form>
                    <break>
                    <% } %> 
            <% } %> 
        
        <% } else if (likes.length==0) { %>
            <form action="/like/resep/<%=resep._id %>" id='likeOrdislike' method="POST" class='red-button'>
            
                <button type="submit" class="btn btn-primary d-inline">
                    <i class='fas fa-thumbs-up'></i>
                    like</button>
                <%= resep.like.length %> orang menyukai postisng ini
            </form>
        <% } %>
    <% } %>
    
</div>