<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
        <div class='body-cart'>
            <% if(bahans.length==0){ %> 
                <div class="centered">
                    <h1>Keranjang Kosong</h1>
                </div>
                
                <% } else { %>
                    <ul class="cart-item-list">
                        <% bahans.forEach(bahan=>{%> 
                            <li class="cart-item">
                                <div class="row">
                                    <div class="col">
                                        <h1>
                                            <%= bahan.bahanId.namaBahan.toUpperCase() %>
                                        </h1>
                                        <h2>Jumlah item = <%= bahan.quantity %>
                                        </h2>
                                        <h2>Harga =<%= bahan.bahanId.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",") %> </h2>
                                    </div>
                                    <div class="col col-img">
                                        <img class='img-cart' src="/<%=bahan.bahanId.image%>" alt="test">
                                    </div>
                                </div>
                               
                                
                                <form action="/cart-delete-item" method="post">
                                    <input type="hidden" name="bahanId" value='<%= bahan.bahanId._id %>' id="">
                                    <button class="btn btn-danger">Delete</button>
                                </form>
                            </li>
                        <% }) %> 
                    </ul>
                    
                    
                    <div class="order">
                        <% bahans.forEach(bahan=> { %>
                            <% sum=sum +bahan.bahanId.harga %>
                            <% }) %>
                            <h2>Total : <%=sum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",")%></h2>
                        <a href="/checkout" class="btn">Beli Sekarang!</a>
                    </div>
                <% } %> 
        </div>
        <%- include('../includes/end.ejs') %>