<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
            <div class='body-cart'>
                <% if(items.length==0){ %>
                    <h1>Keranjang Kosong</h1>
                    <% } else { %>
                        <ul class="cart-item-list">
                            <% items.forEach(item=>{%>
                                <li class="cart-item">
                                    <div class="row">
                                        <!-- <!% console.log(item) %>  -->
                    
                                        <% if (item.eventId) { %>
                                            <div class="col">
                                                <h1>
                                                    <%=item.eventId.nameEvent.toUpperCase() %>
                                                </h1>
                                                <h2>Jumlah item = <%= item.quantity %>
                                                </h2>
                                                <h2>Harga =<%= item.eventId.Harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                                                </h2>
                                            </div>
                                            <div class="col col-img">
                                                <img class='img-cart' src="<%=item.eventId.ImageEvent%>" alt="test">
                                            </div>
                                            <form action="/cart-delete-item" method="post">
                                                <input type="hidden" name="eventId" value='<%= item.eventId._id %>' id="">
                                                <button class="btn btn-danger">Delete</button>
                                            </form>
                                            <% } else if (item.bahanId) { %>
                                                <div class="col">
                                                    <h1>
                                                        <%=item.bahanId.namaBahan.toUpperCase() %>
                                                    </h1>
                                                    <h2>Jumlah item = <%= item.quantity %>
                                                    </h2>
                                                    <h2>Harga =<%= item.bahanId.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>
                                                    </h2>
                                                </div>
                                                <div class="col col-img">
                                                    <img class='img-cart' src="<%=item.bahanId.image%>" alt="test">
                                                </div>
                                                <form action="/cart-delete-item" method="post">
                                                    <input type="hidden" name="bahanId" value='<%= item.bahanId._id %>' id="">
                                                    <button class="btn btn-danger">Delete</button>
                                                </form>
                                                <% } %>
                    
                                </li>
                                <% }) %>
                        </ul>
                        <div class="centered">
                            <h2>Total : <%= totalSum.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %> </h2>
                        </div>

                        <div class="order">
                            <button id="order-btn" class="btn">bayar</button>
                            <script src="https://js.stripe.com/v3/"></script>
                            <script>
                                
                                var stripe = Stripe('<%=API_KEY_STRIPE%>');
                                var orderBtn =  document.getElementById( 'order-btn' );
                                orderBtn.addEventListener( 'click', function () {
                                    console.log('test')
                                    stripe.redirectToCheckout( {
                                    
                                        sessionId: '<%= sessionId %>'
                                    } );
                                } );
                            </script>
                        </div>
                        <% } %>
            </div>
            <%- include('../includes/end.ejs') %>