<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
        <div class="body-order">
            <% if (orders.length==0) { %>
             <div class="centered">
                <h2>tidak ada histori pembelian</h2>
             </div>
             <% } else { %>
              <ul class="orders">
                    <% orders.forEach(order => { %>
                    <li class="order-item">
                        <h1>Order - # <%= order._id %>  <a href=""></a></h1>
                        <ul class="order-bahan">
                            <% order.item.forEach(o => { %>
                                <% if (o.item.nameEvent) { %>
                                    <li class="order-item"><%= o.item.nameEvent %> (<%= o.quantity %>) (<%= o.item.Harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>)
                                    </li>                                
                                <% } else if (o.item.namaBahan){ %>
                                    <li class="order-item">
                                        <%= o.item.namaBahan %> (<%= o.quantity %>) (<%= o.item.harga.toString().replace(/\B(?=(\d{3})+(?!\d))/g, "," ) %>) 
                                    </li>
                                <% } %>
                            <% }) %>
                        </ul>
                    </li>
                    <% }) %>
              </ul>
            <% } %>
        </div>
    <%- include ('../includes/end.ejs') %>