<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/resep.js"></script>
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
            <div class="bodyPost-resep">
                <% if (editMode==true) { %>
                <h1>Edit Resep</h1>
                <% } else { %>
                    <h1>Add Resep</h1>
                <% } %>
                <div class="form-resep">
                    <form action="/<% if (editMode===true){%>edit-resep/<%= resep._id %> <%}else{%>add-resep<%} %>" method="POST"
                        enctype='multipart/form-data'>
    <div class="form-group">
        <input type="text" name="namaResep" id="" class='form-control' autocomplete="off" placeholder='nama Resep'
        value='<% if(editMode===true){%><%= resep.namaResep %> <%} %>'>
    </div>
    <div class="form-group">
        <textarea placeholder='deskripsi'name="deskripsi" class='form-control' rows="10" autocomplete="off"><% if(editMode===true){%><%= resep.deskripsi %><%} %></textarea>
    </div>
    <div class="form-group">
        <label>Categori</label>
        <select name="selectionOption" class='form-control'>
            <option value="daging">Daging</option>
            <option value="ikan">Ikan</option>
            <option value="sayur">Sayur</option>
        </select>
    </div>
    <div class="form-group">
        <label>Bahan Utama</label>
        <select id='bahan'name="bahan[]" class='form-control' multiple="multiple">
        <% if (bahans.length>0) { %>
            <% bahans.forEach(bahan=>{ %>
                
                <option>
                    <%= bahan._id %>-<%= bahan.namaBahan.toUpperCase() %> 
                </option>
            <% }) %>
        <% } %>  
        </select>
    </div>
        <div class="form-group">
            <label>Upload Image</label>
            <input type="file" class='form-control' name='ImageResep'>
        </div>
        <button type="submit" class="btn btn-primary btn-postEvent">
            <% if (editMode) { %>
                Edit Resep
                <% } else { %>
                    Add Resep
                    <% } %>
        </button>
    </form>
                </div>
                    
                        
            </div>
            <%- include('../includes/end.ejs') %>