<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/resep.js"></script>
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
            <div class="bodyPost-resep">
                <% if (errorMessage) { %>
                    <div class="user-message user-message--error">
                        <%= errorMessage %>
                    </div>
                <% } %>
                <% if (editMode==true) { %>
                <h1>Edit Resep</h1>
                <% } else { %>
                    <h1>Add Resep</h1>
                <% } %>
                <div class="form-resep">
                    <form action="/<% if (editMode===true){%>edit-resep/<%= resep._id %>?edit=true <%}else{%>add-resep<%} %>" method="POST"
                        enctype='multipart/form-data'>
    <div class="form-group">
        <input required type="text" name="namaResep" id="" class='form-control <%= validErrors.find(e=>e.param==='namaResep')?'invalid': '' %>' autocomplete="off" placeholder='nama Resep'
        value='<% if(editMode===true){%><%= resep.namaResep %> <% } %>'>
    </div>
    <div class="form-group">
        <textarea required placeholder='deskripsi'name="deskripsi" class='form-control <%= validErrors.find(e=>e.param==='deskripsi')?'invalid': '' %>' rows="10" autocomplete="off"><% if(editMode===true){%><%= resep.deskripsi %><%} %></textarea>
    </div>
    <div class="form-group">
        <label>Categori</label>
        <select required name="selectionOption" class='form-control <%= validErrors.find(e=>e.param==='selectionOption')?'invalid': '' %>'>
            <option value="daging">Daging</option>
            <option value="ikan">Ikan</option>
            <option value="sayur">Sayur</option>
        </select>
    </div>
    <div class="form-group">
        <label>Bahan Utama</label>
        <select required id='bahan'name="bahan[]" class='form-control <%= validErrors.find(e=>e.param==='bahan[]')?'invalid': '' %>' multiple="multiple">
        <% if (bahans.length>0) { %>
            <% bahans.forEach(bahan=>{ %>
                
                <option>
                    <%= bahan._id %>-<%= bahan.namaBahan.toUpperCase() %> 
                </option>
            <% }) %>
        <% } %>  
        </select>
    </div>
        <div class="form-group">
            <label>Upload Image</label>
            <input required type="file" class='form-control <%= validErrors.find(e=>e.param==='ImageResep')?'invalid': '' %>' name='ImageResep'>
        </div>
        <button type="submit" class="btn btn-primary btn-postEvent">
            <% if (editMode) { %>
                Edit Resep
                <% } else { %>
                    Add Resep
                    <% } %>
        </button>
    </form>
                </div>
                    
                        
            </div>
            
            <%- include('../includes/end.ejs') %>