<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
            <div class="body-resep">
                <div class="resep-top">
                    <h1>
                        <%= resep.namaResep.toUpperCase()   %>
                    </h1>
                    <p>
                        <%=resep.createByDate.toLocaleDateString() %>
                    </p>
                    <p>bahan utama: <%= resep.selectionOption %>
                    </p>
                </div>
                <div class="image-picture">
                    <img class='img-display' src="/<%=resep.ImageResep%>" alt="">
                </div>
                <div class="markdone">
                    <%- resep.html.replace(/\n/g,'<br />')%>
                </div>
                
                
                

                <%- include ('../component/comment.ejs') %>
            </div>
            <%- include('../includes/end.ejs') %>