<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    </head>
    <body>
        <%- include ('../component/navbar.ejs') %>
        <div class="body-event">
            <div class="top-event">
                <h1>
                    <%= event.nameEvent.toUpperCase() %>
                </h1>
                <p>
                    <%=event.createByDate.toLocaleDateString() %>
                </p>
            </div>
            <div class="image-picture">
                <img class='img-display' src="/<%=event.ImageEvent%>" alt="">
            </div>
            <div class="markdone">
                <%- event.html.replace(/\n/g,'<br />')%>
            </div>
            <%- include ('../component/like-event.ejs') %> 
            <%- include ('../component/comment.ejs') %> 
        </div>
    <%- include('../includes/end.ejs') %>