<%- include ('../includes/head.ejs') %>
    <link rel="stylesheet" href="/css/style.css">
    <script src="/js/formEvent.js"></script>
    </head>
    <body>

        <%- include ('../component/navbar.ejs') %> 
        <div class="body-postEvent">
            <div class="row">
                
                <div class="col">
                    <% if(editMode===true) {%> 
                        <h1>Edit Event</h1>
                    <% } else { %>
                    <h1>Add Event</h1>
                    <%}%>
                    <% if (errorMessage) { %>
                        <div class="user-message user-message--error">
                            <%= errorMessage %>
                        </div>
                        <% } %>
                    <form action="/<% if (editMode===true){%>edit-event/<%= event._id %>?edit=true <%}else{%>add-event<%} %>" method="POST" enctype='multipart/form-data'>
                        <div class="form-group">
                            <label>Nama acara</label>
                            <input name='nameEvent' type="text" class='form-control <%= validErrors.find(e=>e.param==='nameEvent')?'invalid': '' %>'autocomplete="off"
                            value='<% if (editMode===true) { %><%= event.nameEvent %> <% } %>'>
                        </div>
                        <div class="form-group">
                            <label>Tempat</label>
                            <input name='tempat' type="text" class='form-control <%= validErrors.find(e=>e.param==='tempat')?'invalid': '' %>' autocomplete="off"
                            value='<% if (editMode===true) { %><%= event.tempat %> <% } %>'>
                        </div>
                        <div class="form-group">
                            <label>deskripsi</label>
                            <textarea name="deskripsi" class='form-control <%= validErrors.find(e=>e.param==='deksripsi')?'invalid': '' %>'rows="4" autocomplete="off"><% if (editMode===true) { %><%= event.Deskripsi %><% } %></textarea>
                        </div>
                        <div class="form-group">
                            <label>Tanggal acara</label>
                            <input name='OnDate' type="date" class='form-control <%= validErrors.find(e=>e.param==='Ondate')?'invalid': '' %>'>
                        </div>
                        <div class="form-group">
                            <label>Upload Image</label>
                            <input type="file" class='form-control <%= validErrors.find(e=>e.param==='ImageEvent')?'invalid': '' %>' name='ImageEvent'>
                        </div>
                        <div class="form-group form-check-inline">
                            <input type="radio" id='free' class="custom-control-input" name="Category" value='free' required>
                            <label class="custom-control-label">free</label>
                        </div>
                        <div class="custom-control form-check-inline">
                            <input type="radio" id='berbayar' class="custom-control-input" name="Category" value='bayar' required>
                            <label class="custom-control-label">Berbayar</label>
                        </div> 
                        <div class="form-group number">
                            <label>Harga</label>
                            <input name='harga'id='harga' min='0' type="Number" class='form-control <%= validErrors.find(e=>e.param==='harga')?'invalid': '' %>'autocomplete="off"
                            value='<% if (editMode===true) { %><%= event.Harga %><% } %>'>
                        </div>
                        <div class="form-group number">
                            <label>Kapasitas orang</label>
                            <input type="Number" name='Kapasitas' min='0' class='form-control <%= validErrors.find(e=>e.param==='Kapasitas')?'invalid': '' %>'value='<% if (editMode===true) { %><%= event.Kapasitas %><% } %>'>
                        </div>
                        <button type="submit" class="btn btn-primary btn-postEvent">
                            <% if (editMode) { %>
                                Edit Event
                                <% } else { %>
                                 Add Event
                                <% } %>
                        </button>
                    </form>
                </div>
                
               
            </div>
        </div>
       
           
        <%- include('../includes/end.ejs') %>